/*Core*/
:root {
    --background-dark: #1f2937;
    --background-mid: #e5e7eb;
    --background-card: #3882f6;
    --text-dark: #1f2937;
    --text-mid: #e5e7eb;
    --text-light: #f9faf8;
    font-family: Roboto, sans-serif;
}


body,
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/*Header*/
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-dark);
    padding: 24px 8px;
}
.header-div {
    max-width: 1000px;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
}
.header-navigation {
    display: flex;
    gap: 24px;
    list-style: none;
}
.header-navigation a {
    text-decoration: none;
    font-size: 18px;
    color: var(--text-mid);
}


/*Main*/
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/*Hero*/
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-dark);
    padding: 72px 8px 96px 8px;
}
.hero-div {
    max-width: 1000px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
}
.hero-text {
    min-width: min-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;
    flex-grow: 1;
    flex-basis: 0;
}
.hero-text h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: var(--text-light)
}
.hero-text p {
    font-size: 18px;
    color: var(--text-mid);
}
.hero-btn {
    background-color: var(--background-card);
    color: var(--text-light);
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
}
.hero-image {
    min-width: 50%;
    flex-grow: 1;
    flex-basis: 0;
}
.hero-image img {
    width: 100%;
}


/*Info*/
.info {
    padding: 48px 8px 96px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info-div {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}
.info-title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: var(--text-dark)
}
.info-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
}
.info-card {
    flex-basis: 0;
}
.info-card img {
    width: 150px;
    height: 150px;
    border: solid 3px var(--background-card);
    border-radius: 16px;

}


/*Quote*/
.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-mid);
    padding: 96px 8px;
}
.quote-div {
    max-width: 800px;
    display: flex;
    flex-direction: column;
}
.quote-text {
    display: flex;
    justify-content: flex-start;
    font-size: 36px;
    font-weight: 300;
}
.caption {
    display: flex;
    justify-content: flex-end;
}


/*Call to action*/
.action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 96px 8px;
}
.action-div {
    max-width: 1000px;
    min-width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    background-color: var(--background-card);
    padding: 48px 96px;
    border-radius: 8px;
    flex-wrap: wrap;
}
.action-text {
    color: var(--text-light);
}
.action-text h4 {
    font-size: larger;
}
.action-btn {
    font-weight: bold;
    background-color: var(--background-card);
    color: var(--text-light);
    padding: 8px 24px;
    border-radius: 8px;
    border: solid 2px var(--text-light);
}


/*Footer*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-dark);
    color: var(--text-mid);
    margin-top: auto;
    padding: 24px 8px;
}